    header{
        background-color: blue
        height: 200px;
        padding: 10px;
        text-align:center;
        position: relative;
    }
    header a{
        color:white;
        text-transform: uppercase;
        margin-top: 30px;
        display: block;
    }
    header a img{
        width: 42px;
        height: 42px;
    }
    header .logo a{
        background-image: url({{ url_for('static', filename='logo.png') }});
        background-size: 300px;
        background-repeat: no-repeat;
        width: 400px;
        height: 200px;
        text-indent: -9999999px;
        text-align:center;
        position: relative;
        top: -40px;
        right: -60px;
    }

    nav ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    nav li{
        display: inline-block;
        margin-right: 20px;
    }
    body{
        background-color: darkgray;;
        background-image: url("{{ url_for('static', filename='background.jpg') }}");
        background-repeat: no-repeat;
        background-size: 125%;
        background-position: center;
        color: orange;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    }
    div .middle{
        margin-top: 200px;
        margin-bottom: 200px;
    }
    .pictures{
        text-align:center;
        color: white;
    }

    .pictures figure{
        display: inline-block;
        text-align:center;
        text-transform:uppercase;
    }
    .pictures figure img{
        border: 1px solid white;
        border-radius: 50%;
        box-shadow: gray 0 0 10px;
        width: 300px;
        height: 300px;
    }
    footer{
        color: white;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        background-color: gray;
        padding: 20px;
        font-size: 12px;
        text-align:center;
    }
